
.game-grid-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.game-grid {
    position: absolute;
    display: grid;
}

.game-tile {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: transparent;
        border: var(--game-tile-border, none);
        margin-left: -1px;
        margin-top: -1px;
    }

    &.selected::after {
        border: 1px solid white;
        z-index: 2;
    }

    /*
    NOTE: Right now I dont like a custom border on
        potential moves. But leaving this here commented out,
        in case I want to experiment later.
    &.valid-move::after {
        border: 1px solid #bcfad1;
        z-index: 1;
    }
    */

    &.selectable {
        cursor: pointer;
    }
}

.app, .game-grid-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}
    
