.cell {
  position: relative;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #fafafa;
  user-select: none;
  cursor: default;

  &.selectable {
    cursor: pointer;
    pointer-events: all;
  }

  & img.mountain-img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }

  & img.general-img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }

  & .army-count {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: clamp(8px, calc(var(--game-tile-size, 60px) * 0.3), 20px);
    font-weight: bold;
    font-family: system-ui;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  }

  &.mountain {
    &.visible {
      background-color: #e9e9e9;
    }

    /* TODO: temp hack to make mountains less prominent in the fog of war */
    /* Need to fix the underlying SVG or something */
    &:not(.visible) img.mountain-img {
      opacity: 0.5;
    }

    & img.mountain-img {
      z-index: 3;
    }
  }
}

.game-tile {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  /* This ::after is how we create the tile borders */
  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border: 1px solid #333;
    margin-left: -1px;
    margin-top: -1px;
  }

  &.selected::after {
    border: 1px solid white;
    z-index: 2;
  }

  /*
  NOTE: Right now I don't like a custom border on
      potential moves. But leaving this here commented out,
      in case I want to experiment later.
  &.valid-move::after {
      border: 1px solid #bcfad1;
      z-index: 1;
  }
  */

  &.selectable {
    cursor: pointer;
  }
}

.tile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.fog-of-war {
    background-color: #888;
  }

  &.possible-move {
    background-color: rgba(80, 80, 80, 0.5);
    /* -------------------------------------------------------
      TODO: define the stacking hierarchy for all tile stuff
      in a better way. Put it in one easy to see and verify
      location in the code.
    ------------------------------------------------------- */
    z-index: 2;
  } 
}