/* The main container for header/sidebar/main layout */
.game-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  /* grid-template-columns: 1fr 280px; */
  grid-template-columns: 1fr 150px;
  grid-template-areas:
    'header header'
    'main sidebar';
  height: 100vh;
}

.game-header {
  grid-area: header;
  padding: 8px 12px;
  background: #aaa;
  border-bottom: 1px solid #444;
}

.game-sidebar {
  grid-area: sidebar;
  border-left: 1px solid #444;
  overflow: hidden;
}

.game-main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
}

.cell {
  position: relative;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #fafafa;
  user-select: none;
  cursor: default;

  &.selectable {
    cursor: pointer;
    pointer-events: all;
  }
}

.cell {
  & img.mountain-img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
  & img.general-img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
}

.cell {
  & .army-count {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: clamp(8px, calc(var(--game-tile-size, 60px) * 0.3), 20px);
    font-weight: bold;
    font-family: system-ui;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  }
}

.game-page {
  background-color: #777;
}

.game-ui-disabled {
  opacity: 0.6;
  pointer-events: none;
  user-select: none;
}

.tile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.fog-of-war {
    background-color: #888;
  }
  &.possible-move {
    background-color: rgba(80, 80, 80, 0.5);
    /* -------------------------------------------------------
      TODO: define the stacking hierarchy for all tile stuff
      in a better way. Put it in one easy to see and verify
      location in the code.
    ------------------------------------------------------- */
    z-index: 2;
  } 
}

.cell.mountain {
  &.visible {
    background-color: #e9e9e9;
  }

  /* TODO: temp hack to make mountains less prominent in the fog of war */
  /* Need to fix the underlying SVG or something */
  &:not(.visible) img.mountain-img {
    opacity: 0.5;
  }

  & img.mountain-img {
    z-index: 3;
  }
}
