/* The main container for header/sidebar/main layout */
.game-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  /* grid-template-columns: 1fr 280px; */
  grid-template-columns: 1fr 150px;
  grid-template-areas:
    'header header'
    'main sidebar';
  height: 100vh;
}

.game-header {
  grid-area: header;
  padding: 8px 12px;
  background: #aaa;
  border-bottom: 1px solid #444;
}

.game-sidebar {
  grid-area: sidebar;
  /* padding: 8px 12px; */
  border-left: 1px solid #444;
  overflow: hidden;
}

.game-main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
}

.grid {
  --rows: 1;
  --cols: 1;
  /* --gap: 2px; */
  --gap: 0px;

  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: var(--gap);
  
  /* Make the grid square by using the smaller container dimension */
  width: min(100%, 100vh - 100px);
  height: min(100%, 100vh - 100px);
  aspect-ratio: 1;
  
  /* Overall map border */
  border: 1px solid black;
}

.cell {
  display: grid;
  place-items: center;
  background: #fafafa;
  font:
    12px/1 system-ui,
    sans-serif;
  cursor: pointer;
  aspect-ratio: 1;

  border-color: black;
  border-width: 1px;
  border-style: none;

  &.border-top { border-top: solid; }
  &.border-right { border-right: solid; }
  &.border-bottom { border-bottom: solid; }
  &.border-left { border-left: solid; }
}

.cell.selected,
.player-square.selected {
  /* TODO: get rid of this important */
  border: 2px solid white !important;
}

.cell img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

/* .general-icon { */
.player-square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.square .general-icon .general-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cell .army-count {
  color: white;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.game-page {
  background-color: #777;
}

.game-ui-disabled {
  opacity: 0.6;
  pointer-events: none;
  user-select: none;
}

.fog-of-war {
  position: relative;
}

.fog-of-war::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(91, 91, 91, 0.7);
  pointer-events: none;
  z-index: 1;
}

.cell.mountain.visible {
  background-color: #dfdfdf;
}
