
.user-info {
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 14px;

  .username.profile-link {
    display: flex;
    align-items: center;

    &:hover {
      color: #555;
    }
  }
}
